.kaufman {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: black;
  padding: 90px 0 90px 0;
  position: relative;
  overflow: hidden;
}
