@import url("./card_image/card_image.css");
@import url("./cards_description/cards_description.css");
@import url("./cards_item/cards_item.css");
@import url("./cards_title/cards_title.css");
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  text-align: center;
  width: 920px;

  }
